* {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}
header {
  background: transparent;
}
.title {
  color: white;
  font-size: 30px;
  text-align: center;
  background: transparent;
  margin-top: 2em;
  animation: all 2s ease-in alternate;
  animation-name: slideIn;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.kybrd {
    background: transparent;
}

.playing {
  transform: scale(0.9);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
  background: transparent;
}

/* Animation */

@keyframes slideIn {
  from {
    margin-left: -55em;
  }
  to {
    margin-Left: 0;
  }
}